.container {
  flex: 1;
  height: 100%;
  display: flex;
  gap: 30px;
  align-content: flex-start;
  justify-items: flex-start;
  flex-wrap: wrap;
}

.productCard {
  /* background-color: rgb(48, 142, 224); */

  width: 250px;
  border-radius: 8px;
  background-color: white;

  /* padding: 10px 16px; */
  cursor: pointer;
  padding-bottom: 10px;
  overflow: hidden;
  transition: all 0.25s ease;
}

.productCard:hover {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.332);
  transform: scale(1.02);
  transform-origin: center;
}

.productCard .imageHolder {
  height: 250px;
  width: 250px;
  overflow: hidden;

  /* box-shadow: 0px 0px 20px -5px rgba(116, 116, 116, 0.315); */
}

.productCard img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--secondaryLight);
}

.productCard .productDetails {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: 500;
  font-weight: 500;

  /* border-top: 1px solid rgba(0, 0, 0, 0.13); */
}

.productDetails .name {
  font-size: 1.2rem;
  margin: 10px 0px;
  margin-top: 5px;
  text-align: center;
}

.productDetails .price {
  color: var(--secondaryColor);
}

.productDetails .seller {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(77, 77, 78);
  font-size: 1rem;
}

.seller span{
  font-size: 1rem;
  
}
